<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HaBuddies</title>
    <script src="https://kit.fontawesome.com/ac1b186a28.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">HaBuddies</a>
        <ul>
            <li>
                <a class="new-post-button" asp-area="" asp-controller="Home" asp-action=""><i class="fa-regular fa-plus"></i><span>New</span></a>
            </li>
            <li>
                <a class="notification-button" asp-area="" asp-controller="Home" asp-action=""><i class="fa-solid fa-bell"></i></a>
            </li>
            <li>
                <a class="profile-button" asp-area="" asp-controller="Home" asp-action="">
                    <span class="profile-name">Something Name</span>
                    <div class="profile-picture">
                        
                    </div>
                </a>
            </li>
        </ul>
    </header>

    <input type="checkbox" id="toggle-nav">
    <label for="toggle-nav">
        <i class="fa-solid fa-bars" id="open-nav"></i>
        <i class="fa-solid fa-times" id="close-nav"></i>
    </label>
    <div class="sidebar">
        <div class="header-nav">Main Menu</div>
        <ul>
            <!-- This current view checking will break at any time, looking for a better solution -->
            <li class=" @(ViewContext.RouteData.Values["Controller"].ToString()=="Home"?"active":"")"> 
                <a class="home-nav" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li>
                <a class="my-profile-nav" asp-area="" asp-controller="" asp-action=""><i class="fa-solid fa-address-card"></i> My Profile</a>
            </li>
            <li>
                <a class="my-post-nav" asp-area="" asp-controller="" asp-action=""><i class="fa-solid fa-calendar"></i> My Post</a>
            </li>
            <li>
                <a class="history-nav" asp-area="" asp-controller="" asp-action=""><i class="fa-solid fa-clock-rotate-left"></i> History</a>
            </li>
        </ul>
    </div>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; 2024 - Web_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
