<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_App</title>
    <script src="https://kit.fontawesome.com/ac1b186a28.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_App.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">HaBuddies</a>
        <ul>
            <li>
                <a class="new-post-button" asp-area="" asp-controller="Home" asp-action=""><i class="fa-regular fa-plus"></i><span>New</span></a>
            </li>
            <li>
                <a class="notification-button" asp-area="" asp-controller="Home" asp-action=""><i class="fa-solid fa-bell"></i></a>
            </li>
            <li>
                <a class="profile-button" asp-area="" asp-controller="Home" asp-action="">
                    <span class="profile-name">Something Name</span>
                    <div class="profile-picture">
                        
                    </div>
                </a>
            </li>
        </ul>
    </header>

    <div class="sidebar">
        <div>Main Menu</div>
        <ul>
            <li>
                <a class="REPLACE-nav" asp-area="" asp-controller="Home" asp-action="">subject1</a>
            </li>
            <li>
                <a class="REPLACE-nav" asp-area="" asp-controller="Home" asp-action="">subject2</a>
            </li>
            <li>
                <a class="REPLACE-nav" asp-area="" asp-controller="Home" asp-action="">subject3</a>
            </li>
            <li>
                <a class="REPLACE-nav" asp-area="" asp-controller="Home" asp-action="">subject4</a>
            </li>
        </ul>
    </div>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        &copy; 2024 - Web_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
