@{
    ViewData["Title"] = "History";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/header-section.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/banner.css" asp-append-version="true" />
}
<div class="header-section">
    <h1 class="header-text">My History</h1>
    <hr class="split">
</div>
<partial name="../Shared/_EventBannerList.cshtml" />
