@{
    ViewData["Title"] = "History";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/history.css" asp-append-version="true" />
}
<div class="text-center">
    <h1 class="display-4">My History</h1>
    <hr class="split">
</div>
<partial name="../Shared/_EventHistory.cshtml" />
