@model IEnumerable<HaBuddies.Models.Event>;
@using HaBuddies.Models;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "MyPost";

    string userExist = ViewContext.HttpContext.Session.GetString("user")!;
    UserNoPassword userObject = null!;
    if (userExist != null) {
        userObject = JsonConvert.DeserializeObject<UserNoPassword>(userExist)!;
    }
}
@section Stylesheets {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/my-post.css" asp-append-version="true" />
}
<div class="text-center">
    <h1 class="display-4">My Post</h1>
    <hr class="split">
</div>

@{var a = Model.Where(evt => evt.OwnerId.Contains(userObject.Id));}
<partial name="../Shared/_EventBannerList.cshtml" model=@a/>


<div class="text-center">
    <h1 class="display-4">Joined</h1>
    <hr class="split">
</div>
@{var b = Model.Where(evt => evt.SubscribersId.Contains(userObject.Id));}
<partial name="../Shared/_EventBannerList.cshtml" model=@b/>
