@import "./theme.css";

.banner {
    display: block;
    margin-left: 2rem;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    background-color: white;
    --xmargin: 1rem;
    --xmarginSmall: 1rem;
}

.banner .evt-heading {
    height: auto;
    margin: 0rem var(--xmargin);
    padding: 0.6rem 0;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: max-content max-content;
    column-gap: 1rem;
    max-width: 100%;
    align-items: center;
    border-bottom: 2px solid var(--light-grey);
}

.banner .evt-heading * {
    font-size: 18px;
}

.banner .evt-heading *:not(i) {
    font-weight: 500;
}

.banner .evt-heading i {
    margin-right: 0.2rem;
}

.banner .category {
    grid-area: 1 / 1 / 3 / 2;
    border-radius: 25px;
    padding: 0.8rem 1rem;
    color: white;
    justify-self: start
}

.banner .evt-title {
    grid-area: 1 / 2 / 3 / 3;
    font-size: 22px;
    justify-self: start
}

.banner .evt-enrollsize {
    grid-area: 1 / 3 / 3 / 4;
    justify-self: end;
}

.banner .evt-body {
    padding: 1rem var(--xmargin);
}

.banner .evt-description {
    display: inline-block;
}

.banner .evt-enddate {
    display: inline-block;
}

@media (max-width: 992px) {
    .banner .evt-heading { margin: 0 var(--xmarginSmall); }
    .banner .evt-body { padding: 1rem var(--xmarginSmall); }
    .banner .category { grid-area: 1 / 1 / 2 / 2;}
    .banner .evt-title { grid-area: 2 / 1 / 3 / 4; margin-top: 0.6rem;}
    .banner .evt-enrollsize { grid-area: 1 / 3 / 2 / 4; }
}