@import "./theme.css";

.filter-section {
    margin: 1rem 2rem;
}

.filter {
  display: inline-block;
  background-color: white;
  color: var(--normal-grey);
  font-size: 18px;
  padding: 0.6rem 0.8rem;
  border: 2px solid var(--light-grey);
  border-radius: 30px;
}

.filter {
    cursor: pointer;
}

.filter:hover {
  color: var(--main-color);
  border-color: var(--hover-border-color);
  transition: 500ms;
}

@media (max-width: 768px) {
  .search-section {margin: 1rem auto; width: 23.9rem;} 
}