.notification-block {
  width: 400px;
  height: 0px;
  opacity: 0;
  position: absolute;
  top: 63px;
  right: 35px;
  transition: 1s opacity, 250ms height;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ededed;
  overflow-y: scroll;
  border-radius: 20px;
  border: grey;
}
.notification-block h2 {
  display: flex;
  font-size: 20px;
  border-bottom: 1px solid #eee;
  color: #999;
  margin-left: 20px;
}
.notification-block > hr {
  border-top: 3px solid black;
  margin: 5px;
}

.notification-items {
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 5px;
}
.notification-items a {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  background-color: #d9d9d9;
}
.notification-items:hover {
  background-color: #2e9bff;
  border-radius: 30px;
}
.noti-profile {
  grid-area: 1/1/3/2;
}
.noti-profile img {
  display: block;
  width: 50px;
  border-radius: 50%;
  margin: 10px;
}
.noti-info {
  margin-left: 5px;
  grid-area: 1/2/2/3;
}
.noti-info h1 {
  grid-area: 1/2/2/3;
  color: black;
  font-size: 16px;
  line-height: 2.5;
}
.noti-info p {
  grid-area: 2/2/3/3;
  color: black;
  font-size: 14px;
  margin: 5px 0 10px 0;
  line-height: 1.2;
}
.noti-info > hr {
  border-top: 0.5px solid black;
  margin-bottom: 3px;
}

.button-box {
  width: 250px;
  margin: 10px auto;
  position: relative;
  border-radius: 30px;
  background: #9e9c9c;
}

.toggle-btn {
  padding: 10px 25px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 125px;
  height: 100%;
  background: #2e9bff;
  border-radius: 30px;
  transition: 0.5s;
}
