:root {
    --light-grey: #e3e3e3;
    --normal-grey: #9b9b9b;
    --dark-grey: #5e5e5e;
    --light-blue: #97cdff;
    --normal-blue: #2898FF;
    --dark-blue: #006acd;
    --bg-color: #f5f5f5;
    --green-color: #7ede00;
    --light-red: #ff8080;
    --red-color: #ff3939;
    --dark-red: #d22222;
    --orange-color: #ff9900;
    --dark-orange: #db8400;
    --main-color: var(--normal-blue);
    --border-color: var(--light-grey);
    --hover-border-color: var(--light-blue);
    --hover-dark-color: var(--dark-blue);
  }