@using HaBuddies.Models

@{
    ViewData["Title"] = "Home Page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/banner.css" asp-append-version="true" />
}

<div class="filter-section">
    <button type="button" class="filter"><i class="fa-solid fa-sliders"></i></button>
</div>

<div id="event-banner"></div>

@section Scripts {
    <script src="~/js/InfiniteScroll.js" asp-append-version="true"></script>
    <script>
        var infiniteScroll = new EventInfiniteScroll("event-banner", '@Url.Action("LoadEvent", "Event")');
        infiniteScroll.loadEvent(false);
    </script>
}