@{
    ViewData["Title"] = "Home Page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/banner.css" asp-append-version="true" />
}

<div class="filter-section">
    <button type="button" class="filter"><i class="fa-solid fa-sliders"></i></button>
</div>

<partial name="../Shared/_EventBannerPartial.cshtml" />